.about {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    flex-direction: row;

    .about__left {
        flex-basis: 100%;


        .about__image {
            width: 100%;
            background-size: cover;
            min-width: 20rem;
        };
    }

    .about__right {

        flex-basis: 100%;
        margin-left: 4em;
        align-self: center;
        justify-self: flex-start;
        color: $dark-text;

        .about__title {
            font-size: 2.5rem;
            line-height: 160%;

            width: 100%;
            margin-bottom: 3rem;
        }

        .about__text {
            font-size: 1rem;
            font-weight: $subtire;
            width: 100%;
        }

    }
}

@media screen and (max-width: 1024px) {


    .about{
        margin-top: 3rem;

        .about__left{
            display: block;
        }

        .about__right{
            width: 100%;
            margin-bottom: 3rem;
            .about__title{
                font-size:2rem;
            }
            .about__text{
                font-size: .8rem;
            }
        }
    }
}