.about {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $mgBig;
    flex-direction: row;

    & > * {
        flex-basis: 100%;
    }
    .about__left {
        .about__image {
            width: 100%;
            background-size: cover;
            min-width: 20rem;
        };
    }

    .about__right {
        margin-left: $mgBig;
        align-self: center;
        justify-self: flex-start;
        color: $dark-text;
        
        .about__title {
            font-size: 2.5rem;
            line-height: 160%;
            max-width: 20ch;
            width: 100%;
            margin-bottom: $mgBig;
        }

        .about__text {
            
            font-size: 1rem;
            font-weight: $subtire;
            width: 100%;
        }

    }
}

@media screen and (max-width: 1024px) {


    .about{
        margin-top: $mgBig;

        .about__left{
            display: block;
        }

        .about__right{
            width: 100%;
            margin-bottom: $mgBig;
            .about__title{
                font-size:2rem;
            }
            .about__text{
                font-size: .8rem;
            }
        }
    }
}