.resetScroll{
    position: fixed;
    right: 2%;
    bottom: 10%;
    opacity: 0;

    border: none;
    border-radius: $mgMediu;
    
    width: $mgMediu;
    height: $mgMediu;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0px 5px 3px rgba(189, 184, 184, 0.5);
    cursor: pointer;

    z-index: 999;

    background-color: $dark-background;
     i{
        color: $text-color;
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
     }
}


.headerBg{
    background: $dark-background;
}

.nav__inactive{
    animation: fadeOutNav 1s ease;
}

@keyframes fadeOutNav {

    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
    
}
