#cards {

    // responsive card area
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // max-width: 100%;
    list-style: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto;

    .card {
        // all the cards has to be equal on height and witdh
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 300px;
        min-height: 600px;
        color: $dark-text;
        margin-left: $mgSmall;
        position: relative;
        z-index: 1;
        cursor: pointer;

        .card__title {
            font-size: 1.2rem;
            font-weight: bold;
            letter-spacing: .2rem;
            margin: $mgSmall $mgNull;
        }

        .card__text {
            font-size: .8rem;
            letter-spacing: .1rem;
            line-height: 1.5rem;
        }

        .card__image {
            width: 300px;
            min-height: 400px;
            max-height: 400px;

            margin: 0 auto;

            display: flex;
            justify-content: center;
            align-items: center;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #f5f5f5;

            border-radius: .5rem;

            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        }

    }

    .card__date {
        margin-top: $mgSmall;
        font-size: 1rem;
        font-weight: bold;
        color: $dark-text;
        letter-spacing: 0.3rem;
    }
}

.card__outro {
    animation: fadeOutCard 1s;
}

.card__intro{
    animation: fadeInCard 1s;
}



