*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    color: $text-color;
    overflow-x: hidden;
    position: relative;
}

img{
    width: auto;
    height: 100%;
    object-fit: cover;
}

button{
    cursor: pointer;
}



.container{
    padding: $mgMediu 6.25rem;
}


.show{
    animation: fadeIn 1s ease forwards;
}

.hide{
    animation: fadeOut 1s ease forwards;
}