.header {
    width: 100%;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 1000;

    h1 {
        font-size: 2rem;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
        z-index: 2;
    }

    ul {
        display: flex;

        li {
            list-style: none;
            padding: 0 1.5rem;

            a {
                font-size: 1em;
                color: $text-color;

                text-decoration: none;

                text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
                letter-spacing: 2px;
            }
        }

    }


    .button__responsive {
        display: none;

        width: 5rem;
        height: 2rem;

        background: $button-bg;

        font-size: 1rem;
        font-weight: $semi-bold;

        color: $text-color;

        border: none;
        border-radius: 32px;
        z-index: 2;
    }

    #button__header {
        width: 8.5rem;
        height: 2rem;

        background: $button-bg;

        font-size: 1rem;
        font-weight: $semi-bold;

        color: $text-color;

        border: none;
        border-radius: 32px;
    }
}

#landing {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 120vh;

    // Background images in HERO
    img {
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .hero__house{
        z-index: -100;
        bottom: 0;
        left: 0;
    }

    .hero__sky{
        z-index: -102;
    }

    // White lines over houses
    .hero__clipart {
        background: #fff;
        z-index: 1;
        position: absolute;

        bottom: -1px;
        left: 0;

        width: 100%;
        height: 100vh;

        clip-path: polygon(50% 100%, 100% 90%, 100% 100%, 0 100%, 0 90%);
    }

}

.white {
    color: $text-color;
}

.header__background{
    display: none;
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    filter: blur(.5rem);
}

