.container {
    padding: 0 3rem;
}

#landing {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 120vh;

    // Navbar
    .header {
        // background: $header-bg;

        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 2rem;
            text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
        }

        ul {
            display: flex;

            li {
                list-style: none;
                padding: 0 1.5rem;

                a {
                    font-size: 1em;
                    color: $text-color;

                    text-decoration: none;

                    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
                }
            }
        }



        #button__header {
            width: 150px;
            height: 40px;

            background: $button-bg;

            font-size: 1rem;
            font-weight: $semi-bold;

            color: $text-color;

            border: none;
            border-radius: 32px;
        }
    }


    // Background images in HERO
    img {
        position: absolute;
        height: 120vh;
        z-index: -1;

        .hero__house {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    // White lines over houses
    .hero__clipart {
        background: #fff;

        position: absolute;

        bottom: 0;

        width: 100%;
        height: 100vh;

        clip-path: polygon(50% 100%, 100% 90%, 100% 100%, 0 100%, 0 90%);
    }

}