@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

$rgb: 220;
$sat: 90%;

$header-bg: hsl($rgb, $sat, 7%);
$text-color: hsl($rgb, $sat, 90%);
$button-bg: hsl($rgb, 75%, 80%);