@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

$rgb: 220;
$sat: 90%;

$header-bg: hsl($rgb, $sat, 95%);
$text-color: hsl($rgb, $sat, 95%);
$button-bg: hsl(335, 53%, 56%);
$dark-text: hsl($rgb, $sat, 10%);

$regular: 400;
$subtire: 300;
$semi-bold: 600;
$bold: 700;